*.swp
*.egg-info
*.retry
*.log
*pyc
.coverage*
.lint.log
.pep8.log
.unit.log
/app
/doc/build
/downloads/
/etc/ansible/*inventories/
/requirements/git_requirements.txt
/src
/tags.*
/var/ansible
/var/cache
/var/log
/var/run
/venv
/etc/corpusops/
/roles
!/etc/corpusops/README.md
